@import "../../utils/styles.scss";

.scroll {
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__header-cell {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.31;
  color: $gray;
  padding: 9px 0;
  text-align: left;
  background-color: $light-blue;

  &:not(:last-of-type) {
    padding-right: 16px;
  }

  &:nth-child(1) {
    padding-left: 22px;
    width: 80px;
  }
  &:nth-child(3) {
    width: 151px;
  }
  &:nth-child(4) {
    width: 124px;
  }
  &:nth-child(5) {
    width: 123px;
    padding-right: 52px;
  }
}

.table__product {
  cursor: pointer;
  @include hover;
}

.table__cell {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.93;
  color: $gray;
  padding: 17px 0;
  border-bottom: 1px solid #d8e2ee;

  &:not(:last-of-type) {
    padding-right: 16px;
  }
}

.table__image {
  height: 40px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .table {
    width: 800px;
  }
  .scroll {
    overflow: scroll;
  }
  .table__header-cell {
    &:nth-child(5) {
      padding-right: 22px;
    }
  }

  .table__cell {
    &:nth-child(5) {
      padding-right: 22px;
    }
  }
}
