@import "../../utils/styles.scss";

p {
  margin: 0;
}

.catalogue {
  margin: 136px 122px 431px;
}

.catalogue__header {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.05;
  color: $gray;
  margin: 0 auto 34px 0;
}

@media screen and (max-width: 1279px) {
  .catalogue {
    margin: 136px 48px 431px;
  }
}

@media screen and (max-width: 1023px) {
  .catalogue {
    margin: 136px 24px 431px;
  }
}

@media screen and (max-width: 767px) {
  .catalogue {
    margin: 30px 16px 400px;
  }
}
