@import "../../utils/styles.scss";

.card {
  background-color: $light-blue;
  padding-top: 145px;
  padding-bottom: 125px;
}

.card__back-button {
  font-weight: 900;
  font-size: 18px;
  line-height: 1.17;
  color: $gray;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 120px;
  @include hover;
  cursor: pointer;
}

.card__container {
  margin: 48px 120px 0;
  background-color: white;
}

.card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin: 0 80px 27px;
}

.card__discount {
  background-color: $red;
  padding: 3px 27px 3px 7px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.21;
  color: white;
  clip-path: polygon(0 0, 85% 0%, 100% 50%, 85% 100%, 0 100%, 0% 50%);
}

.card__logo {
  margin: 0 0 0 auto;
  width: 160px;
  height: 77px;
  object-fit: contain;
  align-self: flex-end;
}

.card__body {
  margin: 0 80px 77px 90px;
  display: grid;
  grid-template-columns: 415px auto auto;
  grid-template-rows: 1fr 1fr;
  gap: 0 20px;
  grid-template-areas:
    "image name name"
    "image before after";
}

.card__image {
  grid-area: image;
  width: 100%;
  max-height: 415px;
  object-fit: contain;
}

.card__name {
  grid-area: name;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.2;
  color: $gray;
  max-width: 539px;
}

.card__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  color: #6f7885;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__price_type_old {
  grid-area: before;
  margin: auto auto 52px 0;
}

.card__price_type_new {
  grid-area: after;
  margin: auto 0 52px auto;
}

.card__sum {
  font-weight: 600;
  line-height: 1;
}

.card__sum_type_old {
  font-size: 32px;
  color: #94979c;
  text-decoration: line-through $red 3px;
}

.card__sum_type_new {
  font-size: 52px;
  color: $gray;
}

.star-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.star-wrapper__star {
  font-weight: 900;
  font-size: 25px;
  line-height: 1.05;
  color: $gray;
}

.card__disclaimer {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.05;
  color: #6f7885;
  padding: 36px;
  text-align: center;
  background-color: rgba(217, 217, 217, 0.22);
}

@media screen and (max-width: 1279px) {
  .card__container {
    margin: 48px 48px 0;
  }
  .card__back-button {
    margin-left: 48px;
  }
  .card__header {
    margin: 0 40px 27px;
  }
  .card__body {
    margin: 0 40px 77px;
    grid-template-columns: 300px auto auto;
  }
  .card__image {
    max-height: 300px;
  }
  .card__sum_type_new {
    font-size: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .card {
    padding-bottom: 400px;
  }
  .card__container {
    margin: 48px 24px 0;
  }
  .card__header {
    margin: 0 20px 27px;
  }
  .card__body {
    margin: 0 20px 77px;
  }
  .card__back-button {
    margin-left: 24px;
  }
  .card__name {
    font-size: 30px;
  }
  .card__sum_type_old {
    font-size: 28px;
  }
  .card__sum_type_new {
    font-size: 35px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    padding-top: 26px;
    padding-bottom: 125px;
  }
  .card__container {
    margin: 48px 16px 0;
  }
  .card__header {
    margin: 0 10px 27px;
  }
  .card__body {
    margin: 0 10px 77px;
    grid-template-columns: auto auto;
    grid-template-rows: 150px auto auto;
    grid-template-areas:
      "image image"
      "name name"
      "before after";
  }
  .card__name {
    margin: 40px 0;
    font-size: 24px;
  }
  .card__back-button {
    margin-left: 16px;
  }
  .card__image {
    max-height: 150px;
  }
  .card__sum_type_old {
    font-size: 20px;
  }
  .card__sum_type_new {
    font-size: 24px;
  }
  .star-wrapper__star {
    font-weight: 900;
    font-size: 20px;
    line-height: 1.05;
    color: $gray;
  }
  .card__price {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }
}
