@import "../../utils/styles.scss";

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 26px;
}

.sort__header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: $gray;
}

.sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
}

.sort__button {
  color: #2a7be4;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: $transition;

  
}

.sort__input {
  display: none;

  &:not(:checked):hover + .sort__button {
    opacity: 0.5;
    cursor: pointer;
  }

  &:checked + .sort__button {
    color: #344050;
  }
}

.search__bar {
  width: 320px;
  display: flex;
  flex-direction: row;
  outline: 1px solid #d8e2ee;
  border-radius: 18px;
  transition: $transition;

  &:focus-within {
    outline-color: $blue;
  }
}

.search__input {
  width: calc(100% - 14px - 32px);
  outline: none;
  border: none;
  margin: 10px 14px 10px 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.search__button {
  margin: 10px 2px 10px 14px;
  border: none;
  background-color: transparent;
  background-image: url(../../images/search-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: $transition;

  &:hover {
    opacity: 0.5;
  }
}
